<div class="col-12 col-xl-8 mb-4 mb-xl-0">
    <h2 class="font-weight-bold" style="color: #F3C623;">Catálogo de Servicios</h2>
</div>
<br>

<div class="row d-flex align-items-center">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" id="barraBusqueda" class="form-control" placeholder="Buscar" aria-label="search" aria-describedby="search">
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <a href="@Url.Action("AgregarServicio", "CatalogoServicios")" type="button" class="btn btn-outline-primary btn-icon-text">
            <i class="ti-agenda"></i>
            Agregar Servicio
        </a>
    </div>
</div>


<br>

<div class="row" id="servicios">
    <!-- Servicio 1 -->
    <div class="col-md-4 ">
        <div class="card mb-4 card-outline-warning">
            <div class="card-body">
                <h5 class="card-title">Clase de Cocina Italiana</h5>
                <p class="card-text">Aprende a preparar recetas tradicionales italianas con un chef experto. Explora tus habilidades culinarias.</p>
                <p><strong>Costo:</strong> $50</p>
                <p><strong>Lugar:</strong> Centro de Cocina Aventura</p>
                <br>
                <div class="row col-md-12 justify-content-end">
                    <a href="#" class="btn btn-outline-primary btn-icon-text">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Servicio 2 -->
    <div class="col-md-4">
        <div class="card mb-4 card-outline-warning">
            <div class="card-body">
                <h5 class="card-title">Taller de Pintura</h5>
                <p class="card-text">Explora tu creatividad con nuestros talleres de pintura acrílica para todos los niveles.</p>
                <p><strong>Costo:</strong> $40</p>
                <p><strong>Lugar:</strong> Taller Creativo</p>
                <br>
                <div class="row col-md-12 justify-content-end">
                    <a href="#" class="btn btn-outline-primary btn-icon-text">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Servicio 3 -->
    <div class="col-md-4">
        <div class="card mb-4 card-outline-warning">
            <div class="card-body">
                <h5 class="card-title">Curso de Fotografía</h5>
                <p class="card-text">Curso intensivo de fotografía con un enfoque en técnicas de cámara profesional.</p>
                <p><strong>Costo:</strong> $70</p>
                <p><strong>Lugar:</strong> Estudio de Fotografía Creativa</p>
                <br>
                <div class="row col-md-12 justify-content-end">
                    <a href="#" class="btn btn-outline-primary btn-icon-text">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Servicio 5 -->
    <div class="col-md-4">
        <div class="card mb-4 card-outline-warning">
            <div class="card-body">
                <h5 class="card-title">Clases de Guitarra</h5>
                <p class="card-text">Aprende a tocar guitarra desde lo básico hasta niveles avanzados con instructores certificados.</p>
                <p><strong>Costo:</strong> $45</p>
                <p><strong>Lugar:</strong> Academia de Música Armonía</p>
                <br>
                <div class="row col-md-12 justify-content-end">
                    <a href="#" class="btn btn-outline-primary btn-icon-text">Ver más</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Servicio 6 -->
    <div class="col-md-4">
        <div class="card mb-4 card-outline-warning">
            <div class="card-body">
                <h5 class="card-title">Taller de Cerámica</h5>
                <p class="card-text">Crea piezas únicas de cerámica y aprende técnicas de modelado y esmaltado.</p>
                <p><strong>Costo:</strong> $60</p>
                <p><strong>Lugar:</strong> Estudio Arte y Barro</p>
                <br>
                <div class="row col-md-12 justify-content-end">
                    <a href="#" class="btn btn-outline-primary btn-icon-text">Ver más</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Servicio 7 -->
    <div class="col-md-4">
        <div class="card mb-4 card-outline-warning">
            <div class="card-body">
                <h5 class="card-title">Clases de Baile</h5>
                <p class="card-text">Aprende diferentes estilos de baile, desde salsa hasta hip-hop, con instructores profesionales.</p>
                <p><strong>Costo:</strong> $35</p>
                <p><strong>Lugar:</strong> Academia de Baile Ritmo Vivo</p>
                <br>
                <div class="row col-md-12 justify-content-end">
                    <a href="#" class="btn btn-outline-primary btn-icon-text">Ver más</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Servicio 9 -->
    <div class="col-md-4">
        <div class="card mb-4 card-outline-warning">
            <div class="card-body">
                <h5 class="card-title">Cata de Vinos</h5>
                <p class="card-text">Explora sabores únicos con una guía profesional en un ambiente relajado.</p>
                <p><strong>Costo:</strong> $80</p>
                <p><strong>Lugar:</strong> Bodega Delicias</p>
                <br>
                <div class="row col-md-12 justify-content-end">
                    <a href="#" class="btn btn-outline-primary btn-icon-text">Ver más</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 card-outline-warning">
            <div class="card-body">
                <h5 class="card-title">Yoga al Amanecer</h5>
                <p class="card-text">Disfruta de sesiones de yoga al aire libre para revitalizar tu cuerpo y mente.</p>
                <p><strong>Costo:</strong> $30</p>
                <p><strong>Lugar:</strong> Parque Central</p>
                <br>
                <div class="row col-md-12 justify-content-end">
                    <a href="#" class="btn btn-outline-primary btn-icon-text">Ver más</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Styles/js/filtrarServicios.js"></script>
