<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title">Básicos</h4>

                        <div class="template-demo">
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-secondary">Secondary</button>
                            <button type="button" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                            <button type="button" class="btn btn-warning">Warning</button>
                            <button type="button" class="btn btn-info">Info</button>
                            <button type="button" class="btn btn-light">Light</button>
                            <button type="button" class="btn btn-dark">Dark</button>
                            <button type="button" class="btn btn-link">Link</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title">Redondeados</h4>
                        <div class="template-demo">
                            <button type="button" class="btn btn-primary btn-rounded btn-fw">Primary</button>
                            <button type="button" class="btn btn-secondary btn-rounded btn-fw">Secondary</button>
                            <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button>
                            <button type="button" class="btn btn-danger btn-rounded btn-fw">Danger</button>
                            <button type="button" class="btn btn-warning btn-rounded btn-fw">Warning</button>
                            <button type="button" class="btn btn-info btn-rounded btn-fw">Info</button>
                            <button type="button" class="btn btn-light btn-rounded btn-fw">Light</button>
                            <button type="button" class="btn btn-dark btn-rounded btn-fw">Dark</button>
                            <button type="button" class="btn btn-link btn-rounded btn-fw">Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title">Outlined</h4>
                        <div class="template-demo">
                            <button type="button" class="btn btn-outline-primary btn-fw">Primary</button>
                            <button type="button" class="btn btn-outline-secondary btn-fw">Secondary</button>
                            <button type="button" class="btn btn-outline-success btn-fw">Success</button>
                            <button type="button" class="btn btn-outline-danger btn-fw">Danger</button>
                            <button type="button" class="btn btn-outline-warning btn-fw">Warning</button>
                            <button type="button" class="btn btn-outline-info btn-fw">Info</button>
                            <button type="button" class="btn btn-outline-light btn-fw">Light</button>
                            <button type="button" class="btn btn-outline-dark btn-fw">Dark</button>
                            <button type="button" class="btn btn-link btn-fw">Link</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title">Texto con Iconos</h4>
                        <div class="template-demo">
                            <button type="button" class="btn btn-primary btn-icon-text">
                                <i class="fas fa-file btn-icon-prepend"></i>
                                Procesar
                            </button>
                            <button type="button" class="btn btn-dark btn-icon-text">
                                Editar
                                <i class="fas fa-file btn-icon-append"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-icon-text">
                                <i class="fas fa-exclamation-triangle btn-icon-prepend"></i>
                                Warning
                            </button>
                        </div>
                        <div class="template-demo">
                            <button type="button" class="btn btn-danger btn-icon-text">
                                <i class="fas fa-upload btn-icon-prepend"></i>
                                Cargar
                            </button>
                            <button type="button" class="btn btn-info btn-icon-text">
                                Imprimir
                                <i class="fas fa-print btn-icon-append"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-icon-text">
                                <i class="fas fa-sync-alt btn-icon-prepend"></i>
                                Reset
                            </button>
                        </div>
                        <div class="template-demo mt-2">
                            <button type="button" class="btn btn-outline-primary btn-icon-text">
                                <i class="fas fa-file btn-icon-prepend"></i>
                                Procesar
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-icon-text">
                                Editar
                                <i class="fas fa-file btn-icon-append"></i>
                            </button>
                            <button type="button" class="btn btn-outline-success btn-icon-text">
                                <i class="fas fa-exclamation-triangle btn-icon-prepend"></i>
                                Warning
                            </button>
                        </div>
                        <div class="template-demo">
                            <button type="button" class="btn btn-outline-danger btn-icon-text">
                                <i class="fas fa-upload btn-icon-prepend"></i>
                                Cargar
                            </button>
                            <button type="button" class="btn btn-outline-info btn-icon-text">
                                Imprimir
                                <i class="fas fa-print btn-icon-append"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning btn-icon-text">
                                <i class="fas fa-sync-alt btn-icon-prepend"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>