<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ExperienceSync</title>

    <link rel="stylesheet" href="~/Styles/feather/feather.css">
    <link rel="stylesheet" href="~/Styles/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Styles/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Styles/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="~/Styles/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

    @RenderBody()


    <script src="~/Styles/js/vendor.bundle.base.js"></script>
    <script src="~/Styles/js/off-canvas.js"></script>
    <script src="~/Styles/js/hoverable-collapse.js"></script>
    <script src="~/Styles/js/template.js"></script>
    <script src="~/Styles/js/settings.js"></script>
</body>

</html>
